coffee_env/ 
__pycache__/ 
*.pyc 
models/cnn_model.h5 
models/cnn_best.h5 
data/images/good/ 
data/images/bad/ 
data/X_train.npy 
data/X_test.npy 
data/y_train.npy 
data/y_test.npy 
.vscode/ 
pigpio/
